<html ng-app="todo-app">
  <head>
    <title>Client REST con Angular.js</title>
    <script src="./js/angular.min.js"></script>
    <script src="./js/todo-app.js"></script>
  </head>
  <body ng-controller="main-ctrlr">
    <p>
      <h1>Cose da fare:</h1>
      <ul><li ng-repeat="todo in todos">
        {{todo.content}}
      </li></ul>
      Inserisci un promemoria:
      <form>
        <input type="text" ng-model="contenuto">
        <input type="submit" ng-click="add(contenuto)">
      </form>
    </p>
  </body>
</html>
